<div class="page-wrap d-flex flex-row align-items-center main">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <span class="txtHecho">¡¡Hecho!!</span>
              <div class="mb-4 lead">
                <p>Nos hemos puesto en contacto con el vendedor. Pronto recibirá una respuesta en su correo electrónico.</p>
              </div>
              <a href="/"><button type="button" class="btn btn-outline-dark">Volver a la página principal</button></a>
          </div>
      </div>
  </div>
</div>
