<div class="main">
  <div class="forms-wrapper">
    <form class="signin-form" [formGroup]="login" (ngSubmit)="onSubmit()">
      <a href="/" class="volver">Volver</a>
      <span>Iniciar sesión</span>
      <div class="inputs-wrapper">
        <input type="email" id="correo" placeholder="Correo electrónico" formControlName="correo" required>
        <input type="password" id="contra" placeholder="Contraseña" formControlName="contra" required>
        <input type="submit" class="botones" value="Iniciar sesión">
        <br>
        <p>¿Aún no tienes cuenta? ¡Crea una ahora!</p>
        <a href="sign-up"><input type="button" class="botones" value="Crear cuenta"></a>
      </div>
    </form>
  </div>
</div>
