.about{
  text-align: center;
  background-color: rgb(227, 236, 255);
}

.logo{
  height: 230px;
  margin-bottom: 20px;
}

p{
  padding-left: 17vw;
  padding-right: 17vw;
}

input, textarea{
  margin: 5px;
}

.estrella{
  font-size: 3em;
  color: rgb(28, 198, 255);
}

.text-area{
  height: 100px;
}

.div_img{
  margin-top: 2em;
}

.opiniones article{
  border: 1px solid rgb(28, 198, 255);
  margin: 10px 50px 10px 50px; /*arriba izquierda abajo derecha*/
}

.opiniones .nombre{
  font-weight: bold;
  font-size: 20px;
}
