<div class="container about">
  <br>
  <h2>Sobre nosotros</h2>
  <img src="/assets/images/otros/logo.jpg" class="logo rounded">
  <p>PopZone nace con la idea de unir en un mismo sitio web artículos nuevos y de segunda mano para facilitar al usuario la búsqueda del producto que más se adapte a sus necsidades y a sus gustos.</p>

  <h2>Danos tu opinión</h2>
  <div>
    <form class="form-floating" [formGroup]="opinionForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input type="text" id="nombre" placeholder="Nombre" required class="form-control" formControlName="Nombre">
            <label for="nombre">Nombre</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="text" id="apellidos" placeholder="Apellidos" class="form-control" formControlName="Apellidos">
            <label for="apellidos">Apellidos</label>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input type="mail" id="email" placeholder="Correo electrónico" required class="form-control" formControlName="CorreoElectronico">
            <label for="email">Correo electrónico</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="tel" id="telefono" placeholder="Teléfono" class="form-control" formControlName="Telefono" required>
            <label for="telefono">Teléfono</label>
          </div>
        </div>
      </div>
      <div class="form-floating">
        <textarea class="form-control text-area-margin text-area" placeholder="Añade tu comentario" id="comentario" formControlName="Comentario" required></textarea>
        <label for="comentario">Añade tu comentario</label>
      </div>
      <div class="form-floating">
        <p>Valora nuestro sitio</p>
        <ngb-rating class="estrella" [max]="5" [(rate)]="currentRate"></ngb-rating>
      </div>
      <button [disabled]="!opinionForm.valid" class="btn btn-primary" type="submit">Enviar comentarios</button>
    </form>
  </div>
  <br>
  <hr>
  <br>
  <h2>Lo que opinan nuestros clientes</h2>
  <br>
  <div class="opiniones">
    <ng-container *ngFor="let i of opinion">
      <article>
        <p class="nombre">{{ i.nombre + " " + i.apellidos }}</p>
        <p>{{ i.comentario }}</p>
      </article>
    </ng-container>
  </div>
  <br>
</div>
