<div class="container particulares">
  <br>
  <h2>Productos de particulares</h2>
  <br>
  <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-5 g-3 div_img">
    <ng-container *ngFor="let i of pparticular">
      <div class="card border-0">
        <button type="button" class="btn btn-sm" [routerLink]="'/particulares/'+i.id"><img [src]="i.imagen" alt="Producto" class="card-img-top rounded-circle"></button>
        <div class="card-body">
          <p>{{ i.nombre }}</p>
          <p>{{ i.precio }}€</p>
        </div>
      </div>
    </ng-container>
  </div>
  <br>
</div>
