<div class="page-wrap d-flex flex-row align-items-center error">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <span class="txtError">Error 404</span>
              <div class="mb-4 lead">La página que buscas no se ha encontrado o no está disponible en estos momentos</div>
              <a href="/"><button type="button" class="btn btn-outline-dark">Volver a la página principal</button></a>
          </div>
      </div>
  </div>
</div>
