<div class="container producto">
  <div class="row">
    <div class="col-sm-5 col-md-6 text-center div_imagen">
      <img [src]="pparticular?.imagen" class="card-img-top img-fluid imagen">
    </div>
    <div class="col-sm-5 col-md-5 div_producto">
      <h2>{{ pparticular?.nombre }}</h2>
      <ng-container>
        <div class="card border-0 mx-auto info" style="width: 20rem;">
          <p class="card-text">{{ pparticular?.precio }}€</p>
          <button type="button" class="btn btn-primary" [routerLink]="'/exito'">Contactar ahora</button>
          <hr>
          <p>{{ pparticular?.descripcion }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
