<div class="inicio">
  <br>
  <h2>Bienvenido a PopZone</h2>
  <p>
    PopZone es el sitio perfecto para encontrar ese producto que estás buscando
    <br>
    Busca entre los diferentes vendedores y encuentra la opción que más se adapte a tí
  </p>
  <div class="row g-1 botones">
    <div class="col-md">
      <button type="button" class="btn btn-primary">Tienda de mayoristas</button>
    </div>
    <div class="col-md">
      <button type="button" class="btn btn-primary">Tienda de particulares</button>
    </div>
  </div>
  <br>
  <h3>Productos sugeridos de mayoristas</h3>
  <div></div>
  <h3>Productos sugeridos de minoristas</h3>
  <div></div>
</div>
